.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  @include modal-base;
  min-height: 350px
}

.deleteModal {
  @include modal-base;
  min-height: 80px;
  max-width: 400px;
  .modal-buttons-container {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .confirm-button {
    @include deleteBtns;
    background: rgb(47, 245, 47);
  }
  .cancel-button {
    @include deleteBtns;
    background: rgb(248, 245, 245);
    color: black;
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}

.contentModal__close-modal {
  width: 40px;
  align-self: flex-end;
  cursor: pointer;
}
