.contentModal__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .contentModal__form {
    display: flex;
    flex-direction: column;
    height: 400px;
    .contentModal__country-selector {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
    }
  }
  .contentModal__location-container {
    display: flex;
  }
}

.contentModal__inputError-container {
  display: flex;
  .contentModal__form-input {
    width: 200px;
    border: 1px solid black !important;
  }
  .contentModal__form-inputRed {
    width: 200px;
    border: 1px solid red !important;
  }
  .contentModal__errorMessage {
    margin-left: 10px;
    color: red;
  }
}
